<!doctype html>
<html>
    <head>
        <title>About</title>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/pricing.css" rel="stylesheet">
<style>
footer {
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  background-color: #efefef;
  text-align: center;
}
</style>
 </head>
    <body>
        <div class="d-flex align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
            <img src="/images/logo.png"/ height="50" width="50">
            <h5 class="my-0 mr-md-auto font-weight-normal">WORLD GEO INFORMATION SERVICE</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark" href="api">API</a>
                <a class="p-2 text-dark" href="search">Search</a>
                <a class="p-2 text-dark" href="dataviz">DataViz</a>
            </nav>
            <a class="btn btn-outline-primary" href="adminlogin">Admin</a>
        </div>
        <div class="offset-md-1">
        	<br>
	        <h1 class="display-4">About Us</h1>
	        <hr>
	        <br>
	        <p class="lead">Geography is the study of places and the relationships between people and
				their environments. This projects aims to provide the end user with option of getting
				data about different countries based on a wide range of parameters such as population,
				literacy rate, infant mortality rate, GDP etc.,
				This service can be used by geologists and other academicians to study factors
				affecting GDP, environment, health care and various other fields. This also provides
				interactive data analysis using different types of graphs.</p>
			<p class="lead">Our objective is to: </p>
			<ul>
				<li class="lead">To give accurate global geographic information to the user.</li>
				<li class="lead">Provides an intuitive interface for searching different information related to a
				specific country, city and other geographical features.</li>
				<li class="lead">Allows the user to get data related to population, economic status as well as
				other non-geographical parameters of the country. </li>
				<li class="lead">Provides interactive data analysis using different types of graphs. </li>
			</ul>
		</div>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
	  <footer> <p class="mt-5 mb-3 text-muted">Project by Pareekshith U S Katti and Ponnanna M B<br>&copy; 2019-2020</p></footer>
</html>
