<!doctype html>
<html>
    <head>
        <title>DataViz</title>
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="d-flex align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
            <img src="/images/logo.png"/ height="50" width="50">
            <h5 class="my-0 mr-md-auto font-weight-normal">WORLD GEO INFORMATION SERVICE</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark" href="api">API</a>
                <a class="p-2 text-dark" href="search">Search</a>
                <a class="p-2 text-dark" href="dataviz">DataViz</a>
            </nav>
            <a class="btn btn-outline-primary" href="adminlogin">Admin</a>
        </div>
        <script type="text/javascript" src="/js/plotlyjs-bundle.js"></script>          
        <script type="text/javascript" src="/js/figure1.js"></script>        
        <div id="g1" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
        <script type="text/javascript">
            (function(){
                var gd = document.getElementById('g1')
                var resizeDebounce = null;
                function resizePlot() {
                    var bb = gd.getBoundingClientRect();
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    });
                }
                window.addEventListener('resize', function() {
                    if (resizeDebounce) {
                        window.clearTimeout(resizeDebounce);
                    }
                    resizeDebounce = window.setTimeout(resizePlot, 100);
                });              
                Plotly.plot(gd,  {
                    data: figure.data,
                    layout: figure.layout,
                    frames: figure.frames,
                });                
           }());
        </script>
                <script type="text/javascript" src="/js/figure2.js"></script>
        
        <div id="g2" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
        <script type="text/javascript">
            (function(){
                var gd = document.getElementById('g2')
                var resizeDebounce = null;
                function resizePlot() {
                    var bb = gd.getBoundingClientRect();
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    });
                }
                window.addEventListener('resize', function() {
                    if (resizeDebounce) {
                        window.clearTimeout(resizeDebounce);
                    }
                    resizeDebounce = window.setTimeout(resizePlot, 100);
                });               
                Plotly.plot(gd,  {
                    data: figure.data,
                    layout: figure.layout,
                    frames: figure.frames,
                });
           }());
        </script>
        <script type="text/javascript" src="/js/figure3.js"></script>
        <div id="g3" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
        <script type="text/javascript">
            (function(){
                var gd = document.getElementById('g3')
                var resizeDebounce = null;
                function resizePlot() {
                    var bb = gd.getBoundingClientRect();
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    });
                }                
                window.addEventListener('resize', function() {
                    if (resizeDebounce) {
                        window.clearTimeout(resizeDebounce);
                    }
                    resizeDebounce = window.setTimeout(resizePlot, 100);
                });              
                Plotly.plot(gd,  {
                    data: figure.data,
                    layout: figure.layout,
                    frames: figure.frames,
                });
           }());
        </script>
        <script type="text/javascript" src="/js/figure4.js"></script>
        <div id="g4" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
        <script type="text/javascript">
            (function(){
                var gd = document.getElementById('g4')
                var resizeDebounce = null;
                function resizePlot() {
                    var bb = gd.getBoundingClientRect();
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    });
                }
                window.addEventListener('resize', function() {
                    if (resizeDebounce) {
                        window.clearTimeout(resizeDebounce);
                    }
                    resizeDebounce = window.setTimeout(resizePlot, 100);
                });
                Plotly.plot(gd,  {
                    data: figure.data,
                    layout: figure.layout,
                    frames: figure.frames,
                });
           }());
        </script>
        <script type="text/javascript" src="/js/figure5.js"></script>
        <div id="g5" style="width: 100%; height: 100%;" class="plotly-graph-div"></div>
        <script type="text/javascript">
            (function(){
                var gd = document.getElementById('g5')
                var resizeDebounce = null;
                function resizePlot() {
                    var bb = gd.getBoundingClientRect();
                    Plotly.relayout(gd, {
                        width: bb.width,
                        height: bb.height
                    });
                }                
                window.addEventListener('resize', function() {
                    if (resizeDebounce) {
                        window.clearTimeout(resizeDebounce);
                    }
                    resizeDebounce = window.setTimeout(resizePlot, 100);
                });            
                Plotly.plot(gd,  {
                    data: figure.data,
                    layout: figure.layout,
                    frames: figure.frames,
                });    
           }());
        </script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
	  <footer> <p class="mt-5 mb-3 text-muted">Project by Pareekshith U S Katti and Ponnanna M B<br>&copy; 2019-2020</p></footer>
</html>
